:root {
    --color-black: #141414;
    --color-pink: #e9afaf;
    --color-white: #fdfdfd;

    --font-family-serif: 'Cormorant Garamond', 'Garamond', serif;

    --theme-background: var(--color-white);
    --theme-copy: var(--color-black);
    --theme-primary: var(--color-pink);
    
    --spacer: 1.5rem;

    font-size: 18px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--theme-background);
    color: var(--theme-copy);
}

header {
    background-color: var(--theme-primary);
    color: var(--theme-background);
    padding: calc(0.5 * var(--spacer));
    text-transform: uppercase;
}

@media (min-width: 769px) {
    header {
        padding: var(--spacer);
    }
}

.logo {
    display: block;
    position: absolute;
    width: 3rem;
    top: 0.5rem;
    left: 13rem;
    height: auto;
}

@media (min-width: 769px) {
    .logo {
        left: 7.5rem;
        top: 1.2rem;
        width: 5rem;
    }
}

.logo-break {
    display: none;
}

@media (min-width: 769px) {
    .logo-break {
        display: inline;
    }
}

h1 {
    font-family: var(--font-family-serif);
    line-height: 0.9em;
    margin: 0;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

@media (min-width: 481px) {
    .hero-container {
        padding-top: 33.333%;
    }
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 481px) {
    .hero-content img {
        object-position: center 38%;
    }
}