:root {
    --color-black: #141414;
    --color-pink: #D97777;
    --color-white: #fdfdfd;

    --font-family-headings: 'Cormorant Garamond', 'Garamond', serif;
    --font-weight-headings: 500;

    --font-family-copy: 'Source Sans Pro', sans-serif;
    --font-weight-copy-light: 200;
    --font-weight-copy: 300;

    --theme-background: var(--color-white);
    --theme-copy: var(--color-black);
    --theme-primary: var(--color-pink);
    
    --spacer: 1.5rem;

    box-sizing: border-box;
    font-family: var(--font-family-copy);
    font-weight: var(--font-weight-copy);
    font-size: 18px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--theme-background);
    color: var(--theme-copy);
}

header {
    background-color: var(--theme-primary);
    color: var(--theme-background);
    padding: calc(0.5 * var(--spacer));
    text-transform: uppercase;
}

@media (min-width: 960px) {
    header {
        padding: var(--spacer);
    }
}

.logo {
    display: block;
    position: absolute;
    width: 3rem;
    top: 0.5rem;
    left: 14.5rem;
    height: auto;
}

@media (min-width: 960px) {
    .logo {
        left: 7rem;
        top: 0.65rem;
        width: 5.3rem;
    }
}

.logo-break {
    display: none;
}

@media (min-width: 960px) {
    .logo-break {
        display: inline;
    }
}

h1, h2, h3, h4 {
    font-family: var(--font-family-headings);
    font-weight: var(--font-weight-headings);
    line-height: 0.9em;
}

h1 {
    margin: 0;
}

.row {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    max-width: 60rem;
    margin: 1rem auto;
}

.row.no-gutters {
    margin: 1rem 0;
    gap: 0;
}

.row.two-columns {
    grid-template-columns: 1fr 1fr;
}

.column {
    margin: 0 0.5rem;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

@media (min-width: 481px) {
    .hero-container {
        padding-top: 33.333%;
    }
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@media (min-width: 481px) {
    .hero-content img {
        object-position: center 38%;
    }
}

.lead {
    font-size: 135%;
    text-align: center;
    font-family: var(--font-family-copy);
    font-weight: var(--font-weight-copy-light);
    font-style: italic;
    letter-spacing: 0.03em;
}